@{
    ViewData["Title"] = "Index";
}
<section>


<div>
    <h1>MusicStore</h1>
    <p>Todos tus discos favoritos aca...xd</p>
    @foreach(Disco disco in ViewBag.Discos.Values){
            <h3>@disco.nombre</h3>
            <img src=@disco.foto alt="album portada foto">
            <a href='@Url.Action("infoDisco", "Home", new {dni=integrante.DNI})' >Ver disco completo</a>    
</div>
</section>
}